<!DOCTYPE html>
<html lang="en" layout:decorator="index">

	<head>
	  <meta charset="utf-8"></meta>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	  <meta name="description" content=""></meta>
	  <meta name="author" content=""></meta>
	  <title>Lost&amp;Found</title>
	  <!-- Bootstrap core CSS-->
	  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	  <!-- Custom fonts for this template-->
	  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
	  <!-- Custom styles for this template-->
	  <link href="/css/sb-admin.css" rel="stylesheet"></link>
	</head>
	
	<body class="fixed-nav sticky-footer bg-dark" id="page-top" layout:fragment="contenido-web">
	
		<img class="perfil-img" src= "https://res.cloudinary.com/dfwlfvd87/image/upload/v1528922452/INICIO-01.jpg"></img>
	   
	</body>

</html>
