<!DOCTYPE html>
<html lang="en" layout:decorator="index">

	<head>
	  <meta charset="utf-8"></meta>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	  <meta name="description" content=""></meta>
	  <meta name="author" content=""></meta>
	  <title>Lost&amp;Found</title>
	  <!-- Bootstrap core CSS-->
	  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	  <!-- Custom fonts for this template-->
	  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
	  <!-- Custom styles for this template-->
	  <link href="/css/sb-admin.css" rel="stylesheet"></link>
	</head>
	
	<body class="fixed-nav sticky-footer bg-dark" id="page-top" layout:fragment="contenido-web">
	
     <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Se Busca
        <small>Animales Perdidos</small>
        <a class="btn btn-primary" id="fuente_negra" href="/registrar_perdido">Nuevo aviso</a>
      </h1>

      <!-- Project One -->
      <div class="row margen-listas" th:each="perdidos:${listadoPerdidos}">
        <div class="col-md-7" >
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" th:src="${perdidos.img_perdido}" alt="" ></img> 
          </a>
        </div>
        <div class="col-md-5">
          <h3><label th:text="${perdidos.titulo}" id="fuente_blanca"> </label></h3>
          <p><label th:text="${perdidos.descripcion}"> </label></p>
          <p>Pertenece a: <label th:text="${perdidos.usuario}"> </label></p>
        </div>
      </div>
      
      <!-- /.row -->

	</div>
    <!-- /.container -->
	</body>

</html>
